@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    margin: 50px 70px;
}

.menu {
    margin-right: 20px;
    text-decoration: none;
    color: #17233D;
    font-size: 17px;
}

.menu:hover {
    color: #4CB538;
text-decoration: underline;
 cursor: pointer;
}

.menu:active {
    color: #397d1c;
}

button {
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #6FBF44;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #57A636;
}


img {
    width: 600px;
    margin: 50px 80px 20px 70px;

}

.conteiner-main {
    width: 560px;
    display:inline-block;
    position: relative;
    top: -50px;

}

h1 {
    font-size: 70px;
    color: #161A49;
    margin-bottom: 20px;
    text-shadow:6px 6px 8px rgba(0, 0, 0, 0.391);
}

p {
    font-size: 20px;
    color: #4B505A;
    margin-bottom: 30px;
    line-height: 1.6;
    width: 460px;
    text-align: justify;
    margin: 0 auto ;
    display: block;
    padding-bottom: 25px;
}

.link-main {
    text-decoration: none;
    color: #6FBF44;
    font-size: 22px;
}

.link-main:hover {
    text-decoration: underline;
    color: #57A636;
    cursor: pointer;
}

.link-main:active {
   color: #397d1c;
}



@media screen and (max-width:1330px) {
    
    img {
        width: 500px;
        margin: 50px 50px 20px 50px;
    }

    .conteiner-main {
        width: 500px;
        display:inline-block;
        margin: 40px 65px;


    }

    header {
        margin: 20px 10px;
        text-align: right;
    }

    h1 {
        font-size: 60px;
    }

    .menu {
        display: none;
    }

}